@import url("https://fonts.googleapis.com/css2?family=Outfit:wght@100..900&family=Young+Serif&display=swap");

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

:root {
  --white: hsl(0, 0%, 100%);
  --stone-100: hsl(30, 54%, 90%);
  --stone-150: hsl(30, 18%, 87%);
  --stone-600: hsl(30, 10%, 34%);
  --stone-900: hsl(24, 5%, 18%);
  --brown-800: hsl(14, 45%, 36%);
  --rose-800: hsl(332, 51%, 32%);
  --rose-50: hsl(330, 100%, 98%);
}

html {
  font-size: 16px;
}

body {
  font-family: "Outfit", Arial, Helvetica, sans-serif;
  background-color: var(--stone-100);
  color: var(--stone-600);
  display: flex;
  align-items: center;
  justify-content: center;
  min-height: 100vh;
}

img {
  display: block;
  max-width: 100%;
  object-fit: cover;
}

/* ====================
 TYPOGRAPHY
 ==================== */

/* ===== HEADINGS ===== */
h1,
h2 {
  font-family: "Young Serif", serif;
  font-weight: 400;
  margin-bottom: 1.5rem;
}

h1 {
  color: var(--stone-900);
  font-size: 2.25rem;
  line-height: 2.25rem;
}

h2 {
  color: var(--brown-800);
  font-size: 1.75rem;
  line-height: 1.75rem;
}

h3 {
  color: var(--rose-800);
  margin-bottom: 1rem;
}

/* ===== PARAGRAPHS ===== */
p {
  font-size: 1rem;
  line-height: 1.5rem;
}

strong {
  font-weight: 700;
  color: var(--stone-600);
}

/* ===== LIST ITEMS ===== */
li {
  font-size: 1rem;
  line-height: 1.5rem;
  padding-left: 1.375rem;
}

li::marker {
  color: var(--brown-800);
  font-weight: 700;
}

/* ===== TABLE ITEMS ===== */
th,
td {
  font-size: 1rem;
  line-height: 1.5rem;
  width: 50%;
}

th {
  color: var(--stone-600);
  font-weight: 400;
}

td {
  color: var(--brown-800);
  font-weight: 700;
}

/* ====================
 LAYOUT
 ==================== */

main.container {
  width: 100%;
  max-width: 46rem;
  background-color: var(--white);
}

ul,
ol {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
}

article.recipe-content {
  padding: 2.5rem 2rem;
}

header {
  margin-bottom: 2rem;
}

section.prep-time {
  padding: 1.5rem;
  border-radius: 0.75rem;
  background-color: var(--rose-50);
  margin-bottom: 2rem;
}

section.prep-time ul {
  padding: 0 0.875rem;
}

section.ingredients,
section.instructions {
  margin-bottom: 2rem;
  padding-bottom: 2rem;
  border-bottom: 1px solid var(--stone-150);
}

section.ingredients ul,
section.instructions ol {
  margin-left: 1rem;
}

section.nutrition p {
  margin-bottom: 1.5rem;
}

table.nutrition-table {
  width: 100%;
  text-align: left;
  border-collapse: collapse;
}

tr {
  display: flex;
  align-items: center;
  padding: 0.75rem 0 0.75rem 2rem;
}

tr:not(:last-child) {
  border-bottom: 1px solid var(--stone-150);
}
