@import url("https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap");

:root {
  --green: #c5f82a;
  --grey-700: #333333;
  --grey-800: #1f1f1f;
  --grey-900: #141414;
  --white: #fff;
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html {
  font-size: 16px;
}

body {
  font-family: "Inter", Arial, Helvetica, sans-serif;
  background-color: var(--grey-900);
  display: flex;
  align-items: center;
  justify-content: center;
}

main.container {
  background-color: var(--grey-800);
  border-radius: 0.75rem;
  padding: 1.5rem;
  width: 87.2%;
  max-width: 24rem;
}

/* ==========
HEADER
========== */
header {
  text-align: center;
  margin-bottom: 1.5rem;
}

img.avatar {
  display: block;
  margin: 0 auto 1.5rem;
  width: 5.5rem;
  height: 5.5rem;
  border-radius: 50%;
}

h1 {
  color: var(--white);
  font-size: 1.5rem;
  font-weight: 600;
  line-height: 2.25rem;
  margin-bottom: 0.25rem;
}

p.location {
  color: var(--green);
  font-size: 0.875rem;
  font-weight: 700;
  line-height: 1.3125rem;
  margin-bottom: 1.5rem;
}

p.bio {
  color: var(--white);
  font-size: 0.875rem;
  font-weight: 400;
  line-height: 1.3125rem;
}

/* ==========
NAV
========== */
nav ul {
  list-style-type: none;
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

nav ul li {
  background-color: var(--grey-700);
  border-radius: 0.5rem;
  padding: 0.75rem;
  text-align: center;
}

nav ul li a {
  color: var(--white);
  font-size: 0.875rem;
  font-weight: 700;
  line-height: 1.3125rem;
  text-decoration: none;
}
