@import url("https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Outfit:wght@100..900&family=Roboto:ital,wght@0,100..900;1,100..900&display=swap");

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html {
  font-size: 16px;
}

body {
  font-family: "Outfit", Arial, Helvetica, sans-serif;
  background-color: #d5e1ef;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100%;
  min-height: 100vh;
}

.container {
  max-width: 320px;
  border-radius: 20px;
  background: var(--White, #fff);
  box-shadow: 0 25px 25px 0 rgba(0, 0, 0, 0.05);
  padding: 1rem 1rem 2.5rem;
  text-align: center;
}

img {
  display: block;
  max-width: 100%;
  object-fit: cover;
  border-radius: 10px;
  margin-bottom: 1.5rem;
}

article {
  padding: 0 1rem;
}

h1 {
  color: #1f314f;
  font-size: 1.375rem;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  margin-bottom: 1rem;
}

p {
  color: #7d889e;
  font-size: 0.9375rem;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  letter-spacing: 0.188px;
}
