@import url("https://fonts.googleapis.com/css2?family=Outfit:wght@100..900&display=swap");

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html {
  font-size: 16px;
}

body {
  font-family: "Outfit", Arial, Helvetica, sans-serif;
  background-color: #d5e1ef;
  display: flex;
  align-items: center;
  justify-content: center;
  min-height: 100vh;
}

.container {
  max-width: 320px;
  border-radius: 20px;
  background: #fff;
  box-shadow: 0 25px 25px 0 rgba(0, 0, 0, 0.05);
  padding: 1rem 1rem 2.5rem;
  text-align: center;
}

.qr-code__image {
  display: block;
  max-width: 100%;
  border-radius: 10px;
  margin-bottom: 1.5rem;
}

h1 {
  color: #1f314f;
  font-size: 1.375rem;
  font-weight: 700;
  line-height: 1.4;
  margin-bottom: 1rem;
  padding: 0 1rem;
}

p {
  color: #7d889e;
  font-size: 0.9375rem;
  font-weight: 400;
  line-height: 1.4;
  letter-spacing: 0.188px;
  padding: 0 1rem;
}
